export FASTIFY_PORT=3000
export ESLINT_USE_FLAT_CONFIG=true

export MONGODB_CONNECTION_STRING='mongodb://localhost:27017/project-unknown'
export MONGODB_DATABASE='project-unknown'
export DB_POOL_SIZE=20

export JWT_SECRET=
export TOKEN_EXPIRATION='1d'

export MAX_FILE_SIZE=96